@page
@model Maktab.Sample.Blog.Presentation.Pages.Posts.Index
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}
<form method="post" asp-page-handler="Create">
    <div class="mb-3">
        <label asp-for="AddPostModel.PostTitle" class="form-label">Post title</label>
        <input asp-for="AddPostModel.PostTitle" class="form-control" id="postTitleInput">
        <span asp-validation-for="AddPostModel.PostTitle" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AddPostModel.PostText" class="form-label">Post text</label>
        <input asp-for="AddPostModel.PostText" class="form-control" id="postTextInput">
        <span asp-validation-for="AddPostModel.PostText" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@{
    var counter = 1;
}
@foreach (var post in Model.PostsModel)
{
    <div class="card mt-2 position-relative">
        <div class="btn-group dropstart position-absolute top-0 end-0">
            <button type="button" class="btn btn-secondary bg-transparent border-0 text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-page="EditPost" asp-route-postId="@post.Id" asp-route-maktab="114">Edit Post</a></li>
                <li><a class="dropdown-item text-danger" onclick="ShowDeleteModal('@post.Id')" href="#">Delete Post</a></li>
            </ul>
        </div>
        <div class="card-img-top" style="height: 400px; background-image: url('Asset 2@4x.png'); background-repeat: no-repeat; background-position: center; background-size: cover"></div>
        <div class="card-body">
            <h5 class="card-title">@post.Title</h5>
            <p class="card-text">@post.Text</p>
            <p class="card-text">Author: @post.Author!.GetFullName()</p>
            <a href="#" class="btn btn-outline-success"><i class="bi bi-hand-thumbs-up-fill"></i> Like</a>
            <a href="#" class="btn btn-outline-danger"><i class="bi bi-hand-thumbs-down-fill"></i> Dislike</a>
        </div>
    </div>
}
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to delete this post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" asp-page-handler="Delete">
                    <div class="mb-3 d-none">
                        <input name="PostId" class="form-control" id="postIdInput">
                    </div>
                    <button type="submit" class="btn btn-danger">Yes, Delete post.</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function ShowDeleteModal(postId) {
        let input = document.getElementById("postIdInput");
        console.log(input)
        input.setAttribute("value", postId);
        let modal = new bootstrap.Modal(document.getElementById("delete-modal"));
        modal.show();
    }
 </script>