<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Maktab.Sample.Blog.Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/Maktab.Sample.Blog.Presentation.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">به سامانه دکتر آنلاین خوش آمدید</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="GetAllPosts">Posts</a>
                    </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Posts/Index">Health Facts</a>
                        </li>
                    <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Infirmaries/Index">Infirmaries List</a>
                    </li>
                        @if (User.Identity?.IsAuthenticated ?? true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Admin/Dashboard">User DashBoard</a>
                            </li>
                        }
                </ul>
                @if (!User.Identity?.IsAuthenticated ?? true)
                {
                    <a class="btn btn-outline-success" asp-area="" asp-controller="Accounting" asp-action="Login">Login</a>
                }
                else
                {
                    <strong class="d-inline-block mt-1 me-2">Welcome @User.Identity.Name</strong>
                    <a class="btn btn-outline-danger" asp-area="" asp-controller="Accounting" asp-action="Logout">Logout</a>
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="Accounting" asp-action="EditProfile">EditProfile</a>
                }
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Maktab Sample Blog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
@if (!string.IsNullOrWhiteSpace(ViewData["ErrorMessage"]?.ToString()))
{
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="error-toast" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="error-toast-body" class="toast-body">
                    @(ViewData["ErrorMessage"]?.ToString() ?? "Something went wrong.")
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
}
@if (!string.IsNullOrWhiteSpace(TempData["SuccessMessage"]?.ToString()))
{
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="success-toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="error-toast-body" class="toast-body">
                    @(TempData["SuccessMessage"]?.ToString() ?? "Your request processed successfully.")
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>